@import "tailwindcss";

* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@theme {
  --color-primary: rgb(250, 140, 10);
  --color-primary-dark: rgb(125, 70, 5);
  --color-background: rgb(250, 250, 250);
  --color-footer: rgb(210, 210, 210);
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-semibold;
}
h3 {
  @apply text-2xl font-semibold;
}
h4 {
  @apply text-xl font-semibold;
}

nav a {
  @apply font-semibold hover:scale-105 transition-all;
}

p {
  @apply text-black/50;
}

.btn-primary {
  @apply flex flex-row bg-primary gap-4 text-center px-4 py-3 rounded-lg hover:scale-105 transition-all text-white font-semibold;
}

.btn-chevron-right {
  @apply flex flex-row gap-4 text-center p-4 hover:scale-105 transition-all font-semibold;
}

.list-item-card {
  @apply bg-white rounded-md shadow border-1 border-gray-200 p-8;
}

label {
  @apply text-sm text-black/90 font-semibold;
}
input,
select,
textarea {
  @apply border-1 rounded-md px-2 py-1 border-gray-200;
}

badge {
  @apply rounded-full bg-primary/40 text-primary-dark px-4 py-1 text-sm font-semibold cursor-default;
}

.available {
  @apply bg-green-500/40 text-green-800;
}

.not-available {
  @apply bg-red-500/40 text-red-800;
}
